* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1980px;
  height: 4204px;
  font-family: Calibri, sans-serif;
}

.container {
  max-width: 1183px;
  margin: 0 auto;
}

.header {
  width: 100%;
  min-height: 170px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 68px;
  padding-right: 68px;
}

.header__logo {
  display: block;
}

.menu {
  display: flex;
  margin-left: 124px;
}

.menu__item {
  display: flex;
  align-items: center;
}

.menu__item:nth-child(2) {
  margin-left: 54px;
  margin-right: 46px;
}

.menu__link {
  color: #344051;
  font-size: 24px;
  font-weight: bold;
  margin-left: 11px;
  text-decoration: none;
  transition: all 0.5s;
}

.menu__link:hover {
  color: #116e77;
}

.header__account {
  display: block;
  margin-left: 703px;
  text-decoration: none;
  width: 233px;
  height: 36px;
  box-shadow: 2px 3px 4px rgba(6, 7, 7, 0.09);
  border-radius: 10px;
  background-color: #922723;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  padding-left: 60px;
  line-height: 36px;
  transition: all 0.5s;
}

.account__img {
  position: absolute;
  top: 11px;
  left: 35px;
}

.header__account:hover {
  color: #116e77;
}

.navbar {
  min-height: 55px;
  background: url("../img/nav-back.png");
}

.navbar-box {
  display: flex;
}

.navbar-box__link {
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 55px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s;
}

.navbar-box__link:not(:first-child) {
  padding-left: 22px;
  padding-right: 22px;
  border-left: 1px solid #566274;
}

.navbar-box__link:first-child {
  padding-right: 22px;
}

.navbar-box__link:hover {
  color: #116e77;
}

.kron-auto {
  min-height: 512px;
  position: relative;
}

.kron-auto__background {
  background: url("../img/hero-back.png") no-repeat;
  width: 854px;
  height: 486px;
  position: absolute;
  left: 303px;
  top: 26px;
}

.kron-text {
  z-index: 2;
  position: absolute;
}

.kron-auto__heading {
  color: #344051;
  font-size: 69px;
  margin-top: 89px;
  font-weight: bold;
}

.kron-auto__heading--small {
  color: #344051;
  font-size: 24px;
  margin-bottom: 18px;
  font-weight: bold;
}

.kron-auto__line {
  width: 373px;
  height: 4px;
  background: url("../img/hero-line.png");
  margin-bottom: 28px;
}

.kron-auto__text {
  color: #344051;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 52px;
}

.kron-auto__app {
  display: flex;
}

.app-apple {
  margin-right: 26px;
}

.app-apple,
.app-google {
  width: 175px;
  height: 51px;
  box-shadow: 2px 3px 4px rgba(6, 7, 7, 0.09);
}

.kron-auto__background--car {
  width: 785px;
  height: 389px;
  background: url("../img/hero-car.png");
  position: absolute;
  top: 181px;
  left: 398px;
  z-index: 5;
}

.kron-registration {
  min-height: 818px;
  background: url("../img/reg-back.png");
}

.kron-registration__block {
  display: flex;
  padding-top: 111px;
}

.registration-block__phone {
  display: flex;
  margin-right: 99px;
}

.registration-block__heading {
  color: #f8f8f8;
  font-size: 69px;
  font-weight: bold;
}

.registration-block__heading--small {
  color: #f8f8f8;
  font-size: 24px;
  font-weight: bold;
}

.registration-block__line {
  margin-top: 16px;
  margin-bottom: 17px;
  background: url("../img/reg-line.png");
  width: 697px;
  height: 4px;
}

.registration-block__text {
  color: #f8f8f8;
  font-size: 18px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
