* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1980px;
  height: 4204px;
  font-family: Calibri, sans-serif;
}

.container {
  max-width: 1183px;
  margin: 0 auto;
}

.header {
  width: 100%;
  min-height: 170px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 68px;
  padding-right: 68px;
}

.header__logo {
  display: block;
}

.menu {
  display: flex;
  margin-left: 124px;
}

.menu__item {
  display: flex;
  align-items: center;
}

.menu__item:nth-child(2) {
  margin-left: 54px;
  margin-right: 46px;
}

.menu__link {
  color: #344051;
  font-size: 24px;
  font-weight: bold;
  margin-left: 11px;
  text-decoration: none;
  transition: all 0.5s;
}

.menu__link:hover {
  color: #116e77;
}

.header__account {
  display: block;
  margin-left: 703px;
  text-decoration: none;
  width: 233px;
  height: 36px;
  box-shadow: 2px 3px 4px rgba(6, 7, 7, 0.09);
  border-radius: 10px;
  background-color: #922723;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  padding-left: 60px;
  line-height: 36px;
  transition: all 0.5s;
}

.account__img {
  position: absolute;
  top: 11px;
  left: 35px;
}

.header__account:hover {
  color: #116e77;
}

.navbar {
  min-height: 55px;
  background: url("../img/nav-back.png");
}

.navbar-box {
  display: flex;
}

.navbar-box__link {
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 55px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s;
}

.navbar-box__link:not(:first-child) {
  padding-left: 22px;
  padding-right: 22px;
  border-left: 1px solid #566274;
}

.navbar-box__link:first-child {
  padding-right: 22px;
}

.navbar-box__link:hover {
  color: #116e77;
}

.kron-auto {
  min-height: 512px;
  position: relative;
}

.kron-auto__background {
  background: url("../img/hero-back.png") no-repeat;
  width: 854px;
  height: 486px;
  position: absolute;
  left: 303px;
  top: 26px;
}

.kron-text {
  z-index: 2;
  position: absolute;
}

.kron-auto__heading {
  color: #344051;
  font-size: 69px;
  margin-top: 89px;
  font-weight: bold;
}

.kron-auto__heading--small {
  color: #344051;
  font-size: 24px;
  margin-bottom: 18px;
  font-weight: bold;
}

.kron-auto__line {
  width: 373px;
  height: 4px;
  background: url("../img/hero-line.png");
  margin-bottom: 28px;
}

.kron-auto__text {
  color: #344051;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 52px;
}

.kron-auto__app {
  display: flex;
}

.app-apple {
  margin-right: 26px;
}

.app-apple,
.app-google {
  width: 175px;
  height: 51px;
  box-shadow: 2px 3px 4px rgba(6, 7, 7, 0.09);
}

.kron-auto__background--car {
  width: 785px;
  height: 389px;
  background: url("../img/hero-car.png");
  position: absolute;
  top: 181px;
  left: 398px;
  z-index: 5;
}

.kron-registration {
  min-height: 818px;
  background: url("../img/reg-back.png");
}

.kron-registration__block {
  display: flex;
  padding-top: 111px;
}

.registration-block__phone {
  display: flex;
  margin-right: 99px;
}

.registration-block__heading {
  color: #f8f8f8;
  font-size: 69px;
  font-weight: bold;
}

.registration-block__heading--small {
  color: #f8f8f8;
  font-size: 24px;
  font-weight: bold;
}

.registration-block__line {
  margin-top: 16px;
  margin-bottom: 17px;
  background: url("../img/reg-line.png");
  width: 697px;
  height: 4px;
}

.registration-block__text {
  color: #f8f8f8;
  font-size: 18px;
  font-weight: bold;
}

.registration {
  display: flex;
  margin-top: 33px;
}

.registration-form__input {
  width: 233px;
  height: 36px;
  box-shadow: 2px 3px 4px rgba(6, 7, 7, 0.09);
  border-radius: 10px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  outline: none;
  padding-left: 23px;
  padding-right: 23px;
  margin-right: 12px;
}

.registration-form__input::placeholder {
  color: #ffffff;
}

.registration-block__button {
  width: 233px;
  height: 36px;
  box-shadow: 2px 3px 4px rgba(6, 7, 7, 0.09);
  border-radius: 10px;
  background-color: #ffffff;
  color: #344051;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 36px;
  transition: all 0.5s;
}

.registration-block__button:hover {
  background-color: #116e77;
}

.registration-line {
  border: 1px solid #344051;
  margin-top: 80px;
  margin-bottom: 88px;
}

.registration-flex {
  display: flex;
  justify-content: space-between;
}

.feature-block__flex {
  display: flex;
  margin-bottom: 25px;
}

.feature-block__heading {
  color: #f8f8f8;
  font-size: 24px;
  font-weight: bold;
  margin-left: 14px;
}

.feature-block__text {
  color: #f8f8f8;
  font-size: 18px;
  font-weight: bold;
}

.kron-registration-dark {
  min-height: 813px;
}

.kron-registration__block--dark {
  display: flex;
  padding-top: 107px;
}

.registration-block__phone--dark {
  display: flex;
  margin-left: 97px;
}

.registration-block__heading--dark {
  color: #344051;
  font-size: 69px;
  font-weight: bold;
}

.registration-block__heading--small--dark {
  color: #344051;
  font-size: 24px;
  font-weight: bold;
}

.registration-block__line--dark {
  margin-top: 16px;
  margin-bottom: 17px;
  background: url("../img/reg-line-dark.png");
  width: 697px;
  height: 4px;
}

.registration-block__text--dark {
  color: #344051;
  font-size: 18px;
  font-weight: bold;
}

.registration-dark {
  display: flex;
  margin-top: 33px;
}

.registration-form__input--dark {
  width: 233px;
  height: 36px;
  box-shadow: 2px 3px 4px rgba(6, 7, 7, 0.09);
  border-radius: 10px;
  border: 2px solid #576476;
  background-color: transparent;
  color: #344051;
  outline: none;
  padding-left: 23px;
  padding-right: 23px;
  margin-right: 12px;
}

.registration-form__input--dark::placeholder {
  color: #344051;
}

.registration-block__button--dark {
  width: 233px;
  height: 36px;
  box-shadow: 2px 3px 4px rgba(6, 7, 7, 0.09);
  border-radius: 10px;
  background-color: #116e77;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 36px;
  transition: all 0.5s;
}

.registration-block__button--dark:hover {
  background-color: #344051;
}

.registration-line-dark {
  border: 1px solid #344051;
  margin-top: 57px;
  margin-bottom: 78px;
}

.registration-flex-dark {
  display: flex;
  justify-content: space-between;
}

.feature-block__flex--dark {
  display: flex;
  margin-bottom: 25px;
}

.feature-block__heading--dark {
  color: #344051;
  font-size: 24px;
  font-weight: bold;
  margin-left: 14px;
}

.feature-block__text--dark {
  color: #344051;
  font-size: 18px;
  font-weight: bold;
}

.widget {
  min-height: 720px;
  background: url("../img/reg-back.png");
}

.widget-block {
  display: flex;
  padding-top: 110px;
}

.widget-block__flex {
  margin-right: 96px;
  padding-top: 15px;
}

.widget-block__link {
  display: flex;
  width: 376px;
  height: 110px;
  box-shadow: 2px 4px 0 rgba(6, 7, 7, 0.26);
  border-radius: 10px;
  background-color: #000000;
  text-decoration: none;
  color: #ffffff;
}

.widget-block__link--white {
  background-color: #ffffff;
  color: #000000;
}

.widget-block__link:first-child {
  margin-bottom: 9px;
}

.widget-img {
  width: 60px;
  height: 73px;
  margin-top: 17px;
  margin-left: 33px;
}

.widget-block-flex {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
  margin-left: 20px;
}

.widget-block-text {
  font-size: 33px;
  font-weight: bold;
}

.widget-block-text--big {
  font-size: 43px;
  font-weight: bold;
}

.widget-block__heading {
  color: #f8f8f8;
  font-size: 69px;
  font-weight: bold;
  padding-top: -10px;
}

.widget-block__heading--small {
  color: #f8f8f8;
  font-size: 24px;
  font-weight: bold;
}

.widget-block__line {
  margin-top: 16px;
  margin-bottom: 17px;
  background: url("../img/reg-line.png");
  width: 697px;
  height: 4px;
}

.widget-block__text {
  color: #f8f8f8;
  font-size: 18px;
  font-weight: bold;
}

.widget-line {
  border: 1px solid #344051;
  margin-top: 82px;
  margin-bottom: 85px;
}

.registration-flex {
  display: flex;
  justify-content: space-between;
}

.feature-block__flex {
  display: flex;
  margin-bottom: 25px;
}

.feature-block__heading {
  color: #f8f8f8;
  font-size: 24px;
  font-weight: bold;
  margin-left: 14px;
}

.feature-block__text {
  color: #f8f8f8;
  font-size: 18px;
  font-weight: bold;
}

.map {
  min-height: 507px;
}

.map__block {
  display: flex;
  padding-top: 61px;
}

.map-img {
  display: flex;
  margin-left: 97px;
}

.map-block__heading {
  color: #344051;
  font-size: 69px;
  font-weight: bold;
}

.map-block__heading--small {
  color: #344051;
  font-size: 24px;
  font-weight: bold;
}

.map-block__line {
  margin-top: 16px;
  margin-bottom: 17px;
  background: url("../img/reg-line-dark.png");
  width: 697px;
  height: 4px;
}

.map-gen {
  display: flex;
  margin-top: 24px;
}

.map-form__input {
  width: 458px;
  height: 36px;
  border-radius: 5px;
  border: 2px solid #576476;
  color: #344051;
  font-size: 18px;
  font-weight: 400;
  padding-left: 14px;
  outline: none;
  padding-right: 14px;
  margin-right: 14px;
}

.map-button {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 225px;
  height: 36px;
  box-shadow: 2px 3px 4px rgba(6, 7, 7, 0.09);
  border-radius: 10px;
  background-color: #116e77;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
  transition: all 0.5s;
}

.map-button:hover {
  background-color: #344051;
}

.map-form {
  margin-top: 14px;
  width: 698px;
  height: 182px;
  border-radius: 5px;
  border: 2px solid #576476;
}

.footer {
  background-image: url("../img/footer-back.png");
  min-height: 664px;
}

.footer-block {
  display: flex;
  padding-top: 78px;
}

.footer-block__flex {
  display: flex;
}

.footer-block__heading {
  margin-bottom: 12px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.footer-list {
  list-style-type: none;
}

.footer-list__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s;
}

.footer-list__link:hover {
  color: #344051;
}

.footer-list__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer-block__item:nth-of-type(2) {
  margin-left: 90px;
  margin-right: 86px;
}

.footer-app {
  display: flex;
}

.footer-app__link {
  display: flex;
  text-decoration: none;
  width: 157px;
  height: 46px;
  box-shadow: 1px 2px 0 rgba(6, 7, 7, 0.23);
  background-color: #344051;
  color: #f8f8f8;
  border-radius: 5px;
}

.footer-app__link:last-child {
  width: 165px;
  height: 47px;
}

.footer-app__link:nth-of-type(2) {
  margin-left: 12px;
  margin-right: 14px;
}

.footer-app__text {
  color: #f8f8f8;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}

.footer-app__google {
  color: #f8f8f8;
  font-size: 22px;
  font-weight: bold;
  padding-top: 12px;
}

.footer-app__kron {
  color: #f8f8f8;
  font-size: 14px;
  font-weight: bold;
  padding-top: 7px;
}

.footer-app__img {
  width: 24px;
  height: 30px;
  margin-top: 8px;
  margin-left: 13px;
  margin-right: 8px;
}

.footer-img {
  filter: invert(1);
  width: 29px;
  height: 34px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 8px;
}

.footer-app__heading {
  font-size: 18px;
}

.footer-block__contacts {
  margin-left: 133px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-block__img {
  width: 211px;
  height: 60px;
  margin-bottom: 48px;
}

.footer-social {
  display: flex;
  margin-top: 41px;
}

.footer-social__link {
  display: block;
  width: 36px;
  height: 36px;
  box-shadow: 2px 3px 4px rgba(6, 7, 7, 0.09);
  border-radius: 10px;
  background-color: #343f51;
  text-align: center;
  line-height: 36px;
}

.footer-social__link:not(:first-child) {
  margin-left: 18px;
}

.footer-social__facebook {
  padding-top: 7px;
}

.footer-line {
  border: 1px solid #344051;
  margin-top: 22px;
  margin-bottom: 27px;
}

.footer-copyrights__link {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.footer-copyrights__link:first-child {
  border-right: 1px solid #ffffff;
  padding-right: 10px;
}

.footer-copyrights__link:last-child {
  padding-left: 10px;
}

.footer-copyrights__item {
  display: flex;
}

.footer-copyrights__link:hover {
  color: #344051;
}

.footer-copyrights {
  display: flex;
  justify-content: space-between;
}

.footer-copyrights__text {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.footer__block {
  margin-top: 217px;
  display: flex;
  justify-content: space-between;
}

.footer-pay {
  display: flex;
}

.footer-pay__img {
  margin-left: 27px;
  margin-right: 31px;
}

.footer-form__input {
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px;
  width: 198px;
  height: 36px;
  border-radius: 5px;
  border: 2px solid #576476;
  outline: none;
}

.footer-form__input::placeholder {
  color: #ffffff;
}

.footer-button {
  display: block;
  width: 230px;
  height: 35px;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #576476;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  line-height: 35px;
  transition: all 0.5s;
  margin-left: 13px;
}

.footer-button:hover {
  background-color: #116e77;
}

.footer-form {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
