* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Calibri, sans-serif;
  display: flex;
  flex-direction: column;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 620px) {
  input {
    font-size: 16px;
  }
}

.content {
  flex-grow: 1;
}
@media (max-width: 620px) {
  .content {
    position: relative;
    z-index: 1;
  }
}

.container {
  max-width: 74%;
  margin: 0 auto;
}
@media (max-width: 1375px) {
  .container {
    max-width: 90%;
  }
}
@media (max-width: 620px) {
  .container {
    max-width: 93%;
  }
}

.outer-wrapper {
  padding-left: 1%;
  padding-right: 1%;
}

.header {
  background-color: #ffffff;
}
@media (max-width: 620px) {
  .header {
    border-bottom: 1px solid #344051;
  }
}

.header-wrap {
  max-width: 1600px;
  display: flex;
  min-height: 170px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}
@media (max-width: 620px) {
  .header-wrap {
    min-height: 110px;
  }
}

.header__logo {
  display: block;
  margin-left: 1%;
  margin-right: 0.5%;
}
@media (max-width: 800px) {
  .header__logo {
    margin-right: 5%;
    margin-left: 5%;
  }
}

.header__img {
  width: 90%;
}
@media (max-width: 800px) {
  .header__img {
    width: 100px;
  }
}
@media (max-width: 720px) {
  .header__img {
    width: 100px;
  }
}
@media (max-width: 690px) {
  .header__img {
    width: 90px;
  }
}
@media (max-width: 620px) {
  .header__img {
    width: 150px;
    height: 50px;
  }
}

.header-button {
  display: none;
}
@media (max-width: 800px) {
  .header-button {
    display: block;
    margin-right: 5%;
    position: relative;
  }
}

.header-menu {
  top: -180px;
  position: absolute;
}

.header-menu.active {
  display: flex;
  position: absolute;
  top: 111px;
  z-index: 5;
  height: 81vh;
  transition: all 0.5s;
}

@media (max-width: 620px) {
  .header-menu-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    padding-top: 3%;
    padding-left: 4%;
    padding-bottom: 4%;
    width: 75vw;
  }
}

@media (max-width: 620px) {
  .header-menu-block {
    background-color: #344051;
    width: 25vw;
  }
}

@media (max-width: 620px) {
  .header-menu__link {
    font-size: 28px;
    color: #194146;
    font-weight: bold;
    margin-left: 3%;
  }
}

@media (max-width: 620px) {
  .header-menu__link-food {
    font-size: 28px;
    color: #194146;
    font-weight: bold;
    margin-left: 2%;
  }
}

@media (max-width: 620px) {
  .header-menu-item {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 620px) {
  .header-menu-item:nth-of-type(2) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 620px) {
  .header-menu-item__img {
    width: 27px;
  }
}

details summary::-webkit-details-marker {
  display: none;
}

@media (max-width: 620px) {
  .header-drop-heading {
    display: flex !important;
    align-items: center;
    cursor: pointer;
    outline: 0;
  }
}

.header-drop-list {
  list-style-type: none;
  margin-top: 24px;
}

.drop-list-link {
  color: #174246;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.drop-list {
  margin-bottom: 8%;
}

.header-account {
  margin-right: 1%;
  display: flex;
  text-decoration: none;
  width: 95%;
  height: 9%;
  box-shadow: 2px 3px 4px rgba(6, 7, 7, 0.09);
  border-radius: 10px;
  background-color: #922723;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
  justify-content: space-evenly;
  align-items: center;
}

.menu {
  display: flex;
  width: 1183px;
}
@media (max-width: 800px) {
  .menu {
    display: none;
  }
}

@media (max-width: 800px) {
  .header-button__img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 620px) {
  .header-button__img {
    width: 50px;
    height: 50px;
  }
}

.menu__item {
  display: flex;
  align-items: center;
}

.menu__item:nth-child(2) {
  margin-left: 4%;
  margin-right: 4%;
}

.menu__link {
  color: #344051;
  font-size: 24px;
  font-weight: bold;
  margin-left: 11px;
  text-decoration: none;
  transition: all 0.5s;
}
@media (max-width: 900px) {
  .menu__link {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .menu__link {
    font-size: 16px;
  }
}
@media (max-width: 720px) {
  .menu__link {
    font-size: 14px;
  }
}
@media (max-width: 690px) {
  .menu__link {
    font-size: 12px;
  }
}

.menu__link:hover {
  color: #116e77;
}

.header__account {
  margin-right: 1%;
  display: flex;
  text-decoration: none;
  width: 15%;
  height: 36px;
  box-shadow: 2px 3px 4px rgba(6, 7, 7, 0.09);
  border-radius: 10px;
  background-color: #922723;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 1300px) {
  .header__account {
    font-size: 14px;
    width: 22%;
  }
}
@media (max-width: 1055px) {
  .header__account {
    font-size: 12px;
  }
}
@media (max-width: 975px) {
  .header__account {
    height: 26px;
  }
}
@media (max-width: 900px) {
  .header__account {
    width: 30%;
    height: 24px;
  }
}
@media (max-width: 800px) {
  .header__account {
    display: none;
  }
}

.account__img {
  width: 13px;
  height: 16px;
}
@media (max-width: 1150px) {
  .account__img {
    display: none;
  }
}

.header__account:hover {
  color: #116e77;
}

.navbar {
  min-height: 55px;
  background: url("../img/nav-back.png");
}
@media (max-width: 620px) {
  .navbar {
    display: none;
  }
}

.navbar-box {
  display: flex;
}

.navbar-box__link {
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 55px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s;
}

.navbar-box__link:not(:first-child) {
  padding-left: 2%;
  padding-right: 2%;
  border-left: 1px solid #566274;
}

.navbar-box__link:first-child {
  padding-right: 2%;
}

.navbar-box__link:hover {
  color: #116e77;
}

.kron-ship {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kron-ship__img--food {
  width: 35%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}
@media (max-width: 620px) {
  .kron-ship__img--food {
    width: 70%;
  }
}

.kron-ship__heading {
  color: #333f50;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 11px;
}
@media (max-width: 620px) {
  .kron-ship__heading {
    font-size: 30px;
  }
}

.kron-ship__text {
  color: #333f50;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 620px) {
  .kron-ship__text {
    font-size: 16px;
  }
}

.kron-ship__button {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 25%;
  height: 36px;
  box-shadow: 2px 3px 4px rgba(6, 7, 7, 0.09);
  border-radius: 10px;
  background-color: #116e77;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 10%;
  transition: all 0.5s;
}
@media (max-width: 900px) {
  .kron-ship__button {
    font-size: 16px;
    width: 30%;
  }
}
@media (max-width: 620px) {
  .kron-ship__button {
    font-size: 16px;
    width: 60%;
  }
}

.kron-ship__button:hover {
  background-color: #344051;
}

.footer {
  background-image: url("../img/footer-back.png");
  min-height: 664px;
}
@media (max-width: 620px) {
  .footer {
    min-height: 0;
  }
}

.footer-block {
  display: flex;
  padding-top: 78px;
}
@media (max-width: 620px) {
  .footer-block {
    padding-top: 50px;
  }
}

.footer-block__flex {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-right: 5%;
}
@media (max-width: 620px) {
  .footer-block__flex {
    display: none;
  }
}

.footer-block__heading {
  margin-bottom: 12px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 800px) {
  .footer-block__heading {
    font-size: 20px;
  }
}
@media (max-width: 710px) {
  .footer-block__heading {
    font-size: 16px;
  }
}

.footer-list {
  list-style-type: none;
}

.footer-list__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s;
}
@media (max-width: 800px) {
  .footer-list__link {
    font-size: 14px;
  }
}
@media (max-width: 710px) {
  .footer-list__link {
    font-size: 12px;
  }
}

.footer-list__link:hover {
  color: #344051;
}

.footer-list__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer-app {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1040px) {
  .footer-app {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (max-width: 620px) {
  .footer-app {
    width: 100%;
    flex-direction: row;
    order: 3;
    margin-top: 10%;
    justify-content: space-between;
  }
}

.footer-app__link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  width: 30%;
  height: auto;
  box-shadow: 1px 2px 0 rgba(6, 7, 7, 0.23);
  background-color: #344051;
  color: #f8f8f8;
  border-radius: 5px;
}
@media (max-width: 1040px) {
  .footer-app__link {
    width: 35%;
    height: 46px;
  }
}
@media (max-width: 850px) {
  .footer-app__link {
    width: 40%;
    height: 46px;
  }
}
@media (max-width: 850px) {
  .footer-app__link {
    width: 48%;
    height: 46px;
  }
}
@media (max-width: 620px) {
  .footer-app__link {
    height: 42px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
  }
}

.footer-app__link:nth-child(2) {
  margin-left: 2%;
  margin-right: 2%;
}
@media (max-width: 1040px) {
  .footer-app__link:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer-app__link:last-child {
  width: 30%;
  height: 47px;
}
@media (max-width: 1040px) {
  .footer-app__link:last-child {
    width: 35%;
  }
}
@media (max-width: 850px) {
  .footer-app__link:last-child {
    width: 40%;
    height: 46px;
  }
}
@media (max-width: 850px) {
  .footer-app__link:last-child {
    width: 48%;
    height: 46px;
  }
}
@media (max-width: 620px) {
  .footer-app__link:last-child {
    width: 32%;
    height: 42px;
  }
}

@media (max-width: 620px) {
  .footer-app__link:nth-of-type(2) {
    margin: 0;
  }
}

.footer-app__text {
  color: #f8f8f8;
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 1200px) {
  .footer-app__text {
    font-size: 20px;
  }
}
@media (max-width: 620px) {
  .footer-app__text {
    font-size: 14px;
    padding: 0;
  }
}

.footer-app__google {
  color: #f8f8f8;
  font-size: 22px;
  font-weight: bold;
}
@media (max-width: 1200px) {
  .footer-app__google {
    font-size: 20px;
  }
}
@media (max-width: 620px) {
  .footer-app__google {
    font-size: 14px;
    padding: 0;
  }
}

.footer-app__kron {
  color: #f8f8f8;
  font-size: 14px;
  font-weight: bold;
}
@media (max-width: 1170px) {
  .footer-app__kron {
    font-size: 13px;
  }
}
@media (max-width: 620px) {
  .footer-app__kron {
    font-size: 10px;
    padding-top: 0;
  }
}

.footer-app__img {
  width: 24px;
  height: auto;
}
@media (max-width: 620px) {
  .footer-app__img {
    margin: 0;
    width: 22%;
    height: auto;
  }
}

.footer-img {
  filter: invert(1);
  width: 17%;
  height: auto;
}
@media (max-width: 620px) {
  .footer-img {
    margin: 0;
    width: 22%;
    height: auto;
  }
}

.footer-app__heading {
  font-size: 18px;
}
@media (max-width: 1170px) {
  .footer-app__heading {
    font-size: 14px;
  }
}
@media (max-width: 620px) {
  .footer-app__heading {
    font-size: 12px;
  }
}

.footer-block__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}
@media (max-width: 620px) {
  .footer-block__contacts {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.footer-block__img {
  width: 211px;
  height: 60px;
  margin-bottom: 48px;
}
@media (max-width: 620px) {
  .footer-block__img {
    margin-bottom: 0;
  }
}
@media (max-width: 620px) {
  .footer-block__img {
    width: 130px;
    height: auto;
  }
}

.footer-social {
  display: flex;
  margin-top: 41px;
}
@media (max-width: 620px) {
  .footer-social {
    margin-top: 0;
  }
}

.footer-social__link {
  display: block;
  width: 36px;
  height: 36px;
  box-shadow: 2px 3px 4px rgba(6, 7, 7, 0.09);
  border-radius: 10px;
  background-color: #343f51;
  text-align: center;
  line-height: 36px;
}

.footer-social__link:not(:first-child) {
  margin-left: 18px;
}

.footer-social__facebook {
  padding-top: 7px;
}

.footer-line {
  border: 1px solid #344051;
  margin-top: 22px;
  margin-bottom: 27px;
}
@media (max-width: 620px) {
  .footer-line {
    display: none;
  }
}

.footer-copyrights__link {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.footer-copyrights__link:first-child {
  border-right: 1px solid #ffffff;
  padding-right: 10px;
}
@media (max-width: 620px) {
  .footer-copyrights__link:first-child {
    padding: 0;
    border: 0;
  }
}

.footer-copyrights__link:last-child {
  padding-left: 10px;
}

.footer-copyrights__item {
  display: flex;
}
@media (max-width: 620px) {
  .footer-copyrights__item {
    flex-direction: column;
    align-items: center;
    color: #ffffff;
  }
}

.footer-copyrights__link:hover {
  color: #344051;
}

.footer-copyrights {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 620px) {
  .footer-copyrights {
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
  }
}

.footer-copyrights__text {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
@media (max-width: 620px) {
  .footer-copyrights__text {
    margin-top: 33%;
    text-align: center;
  }
}

.footer__block {
  margin-top: 217px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1040px) {
  .footer__block {
    margin-top: 100px;
  }
}
@media (max-width: 810px) {
  .footer__block {
    justify-content: center;
  }
}
@media (max-width: 620px) {
  .footer__block {
    flex-direction: column;
    align-items: center;
    margin-top: 152px;
  }
}

.footer-pay {
  display: flex;
}
@media (max-width: 810px) {
  .footer-pay {
    display: none;
  }
}
@media (max-width: 620px) {
  .footer-pay {
    display: flex;
    order: 2;
    margin-top: 20px;
    justify-content: space-between;
    padding-bottom: 1%;
  }
}

.footer-pay__img {
  margin-left: 27px;
  margin-right: 31px;
}
@media (max-width: 620px) {
  .footer-pay__img {
    margin: 0;
    width: 18%;
  }
}

@media (max-width: 620px) {
  .footer-pay-img {
    width: 30%;
    height: 10%;
  }
}

.footer-form__input {
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
  height: 36px;
  border-radius: 5px;
  border: 2px solid #576476;
  outline: none;
  color: #ffffff;
}
@media (max-width: 620px) {
  .footer-form__input {
    width: 100%;
    height: 30px;
    font-size: 12px;
  }
}

.footer-form__input::placeholder {
  color: #ffffff;
}

.footer-button {
  display: block;
  width: 69%;
  height: 35px;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #576476;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  line-height: 35px;
  transition: all 0.5s;
  margin-left: 3%;
}
@media (max-width: 620px) {
  .footer-button {
    width: 55%;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
  }
}

.footer-button:hover {
  background-color: #116e77;
}

.footer-form {
  display: flex;
}
@media (max-width: 620px) {
  .footer-form {
    margin-top: 33px;
    width: 100%;
    justify-content: space-between;
  }
}

.footer-form-flex {
  width: 40%;
}

/*# sourceMappingURL=index_ship.css.map */
